:root {
  /* colors */
  --primary: #ff3c00;
  --Secondary: #111111;
  --Accent: #ffd700;
  --Neutral_Light: #f5f5f5;
  --Neutral_Dark: #444444;
  --text_color: #212121;

  /* measurements */
  --max_width: 1200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}
body {
  background: var(--Neutral_Light);
  font-family: "Poppins", sans-serif;
  color: var(--text_color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}
.section_container {
  max-width: var(--max_width);
  margin: auto;
  padding: 5rem 1rem;
}
.section_header {
  position: relative;
  padding-bottom: .5rem;
  font-size: 2.25em;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text_color);
}
.section_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 50px;
  background: var(--primary);
}

.section_description {
  max-width: 900px;
  color: var(--Neutral_Dark);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1.1em;
  white-space: nowrap;
  background: var(--primary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  background: var(--Accent);
  color: var(--primary);
}
img {
  display: flex;
  max-width: 100%;
}
a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}
.header {
  background-color: var(--Neutral_Light);
}
nav {
  position: fixed;
  isolation: isolate;
  width: 100%; 
  z-index: 10;
}
.nav_header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Neutral_Light);
}
.logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  max-width: 40px;
}

.nav_links {
  position: absolute;
  top: 68px;
  left: 0;
  padding: 2rem;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;}

